.heads{
    padding-left: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(4,92,133);
    border-radius: 0.5cm;
}
body{
    padding-left: 100px;
    background-color: rgb(56,218,218);
}
.mid{
    overflow: auto;
    float: right;
    padding-right: 100px;
}
ul{
    list-style-type: none;
}
ul:first-child{
    list-style-type: disc;
    float: left;
    padding-right: 70px;
}