
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #fff;
    height:100%;
}


.clock {
	position: absolute;
	height: 300px;
	width: 300px;
	background-color: #fff;
	border-radius: 100%;
    box-shadow:0px 0px  0px 2px rgb(216, 213, 213),
               0px 0px 0px 5px #fff,
                0px 0px 0px 52px rgb(236, 38, 12),
                0px 0px 0px 56px rgb(221, 219, 219);

	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

.clock .hr {
	width: 5px;
	height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	animation: time 3600s infinite linear;
}
.clock .hr:before {
	content: "";
	height: 135px;
	width: 3px;
	background-color: black;
	position: absolute;
	top: 15px;
}

.clock .min{
	width: 1px;
	height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	animation: time 360s infinite linear;
}
.clock .min:before {
	position: absolute;
	content: "";
	background-color: black;
	height: 135px;
	width: 3px;
	top: 15px;
}
.clock .sec{
	width: 2px;
	height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	animation: time 15s infinite linear;
}
.clock .sec:before {
	position: absolute;
	content: "";
	background-color: black;
	height: 135px;
	width: 3px;
	top: 15px;
}

@keyframes time {
	to {
		transform: rotate(360deg);
	}
} 
