.Nav{
  background-color:rgb(206, 98, 98) ;
  justify-content: space-between;
  overflow: hidden;
  padding: 10px 10px;
}
.Nav a{
  text-decoration: none;
  margin-right: 24%;
  font-size: 24px;
  color: black;
  background-color: rgb(206, 98, 98);
  padding: 4px;
}
.about h1{
  text-align: center;
  margin-top: 20px;
}
.Home {
  text-align: center;
  align-items: center;
}
.Home button{
  padding: 10px 10px;
  margin-top: 10px;
  font-size: 24px;
  border-radius: 15px;
  background-color: chartreuse;
}
.Home button:hover{
  background-color: rgb(76, 148, 4)
}
.profile{
  text-align: center;
}
.dash{
  text-align: center;
}
.about .cont{
  text-align: center;
  font-size: 22px;
}